<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Dealz</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h2>Welcome {{first_name}}!!!!!</h2>
    <div class="navButtons">
    <form action="/logout">
        <input type="submit" value="Logout">
    </form>
    <form action="/user/{{user_id}}">
        <input type="submit" value="My Purchases">
    </form>
    </div>
    <table>
        <thead>
            <th>Model</th>
            <th>Year</th>
            <th>Seller</th>
            <th>Actions</th>
        </thead>
        {%if cars%}
        {% for car in cars %}
        <tr>
            <td>{{car['model']}}</td>
            <td>{{car['year']}}</td>
            <td>{{car['first_name']}} {{car['last_name']}}</td>
            {%if car['sold'] == 1%}
            <td>Sold</td>
            {% elif user_id == car['users.id']%}
            <td><a href="/edit/{{car['id']}}">edit</a> <a href="/delete/{{car['id']}}">delete</a></td>
            {%else%}
            <td><a href="/show/{{car['id']}}">view</a></td>
            {% endif %}
        </tr>
        {%endfor%}
        {% endif %}
    </table>
    <form action="/new">
        <input type="submit" value="Add A Car">
    </form>
</body>
</html>