table{
    border-style: solid;
    border-color: black;
}

td{
    border-style: solid;
    border-color: gray;
    border-top-width: 0px;
    border-bottom-width: 0px;
    margin: 0%;
}

thead{
    background-color: lightgray;
}